<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<meta charset="utf-8">
		<title>Dice Game</title>
		<link rel="stylesheet" href="{% static "css/style.css" %}">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="{% static "js/dice.js" %}"></script>
	</head>

	<body class="dice-game">
		<center>
			<a href="https://github.com/khannakshat7/Dice_Django.git">Link to Github Akshat Khanna</a>
			</center>
		<div class="wrapper">
			<div class="relative full-height">
				<section id="main-screen">
					<div class="dice-wrapper">
						<div id="dice" class="result-5 init" tabindex="1">
							<div class="dice-side dice-innner-color x"></div>
							<div class="dice-side dice-innner-color y"></div>
							<div class="dice-side dice-innner-color z"></div>
							<div class="side1 dice-side outer">
								<div class="circle circle-center"></div>
							</div>
							<div class="side1 dice-side inner"></div>
							<div class="side2 dice-side outer">
								<div class="circle circle-top-right"></div>
								<div class="circle circle-bottom-left"></div>
							</div>
							<div class="side2 dice-side inner"></div>
							<div class="side3 dice-side outer">
								<div class="circle circle-top-left"></div>
								<div class="circle circle-center"></div>
								<div class="circle circle-bottom-right"></div>
							</div>
							<div class="side3 dice-side inner"></div>
							<div class="side4 dice-side outer">
								<div class="circle circle-top-left"></div>
								<div class="circle circle-top-right"></div>
								<div class="circle circle-bottom-left"></div>
								<div class="circle circle-bottom-right"></div>
							</div>
							<div class="side4 dice-side inner"></div>
							<div class="side5 dice-side outer">
								<div class="circle circle-top-left"></div>
								<div class="circle circle-top-right"></div>
								<div class="circle circle-center"></div>
								<div class="circle circle-bottom-left"></div>
								<div class="circle circle-bottom-right"></div>
							</div>
							<div class="side5 dice-side inner"></div>
							<div class="side6 dice-side outer">
								<div class="circle circle-top-left"></div>
								<div class="circle circle-middle-top"></div>
								<div class="circle circle-top-right"></div>
								<div class="circle circle-bottom-left"></div>
								<div class="circle circle-middle-bottom"></div>
								<div class="circle circle-bottom-right"></div>
							</div>
							<div class="side6 dice-side inner"></div>
						</div>
					</div>
					<div class="dice-actions">
						<div class="expand"></div>
						<button type="button" id="roll-dice" class="btn btn-primary h100">Roll Dice</button>
					</div>
				</section>
			</div>
			
		</div>
	</body>
</html>
